.container {
  width: 90%;
  margin: auto;
}

.gallery-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery-grid img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  height: 220px;
}

@media (max-width: 768px) {
  .gallery-grid {
    grid-template-columns: 1fr;
  }
}