.hero {
  height: 90vh;
  background: url("../assets/hero.jpg") center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  color: white;
  border-radius: 12px;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  margin-top: 15px;
  font-size: 1.2rem;
}

.hero-buttons {
  margin-top: 25px;
}

.btn {
  padding: 12px 25px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  margin: 0 10px;
  font-weight: bold;
}

.whatsapp { background: #25D366; }
.call { background: #007bff; }

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;

  }
  .hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .btn{
    width: 90%;
    margin: 0;
    padding: 12px 0;
    text-align: center;
  }
}