* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  scroll-behavior: smooth;
}

.section {
  padding: 70px 20px;
  text-align: center;
}

.light {
  background: #f5f5f5;
}
